body {background-color: Pink;}


h1{
    color: red;
    text-align: center;
    font-size: 100px;
}

.flexcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexcontainer2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

h2 {
    color: green;
    text-align: center;
    font-size: 50px;
}

img{
    width: 100%;
    max-width: 400px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }


